.container-div {
  margin: auto;
  width: 40%;
  border: 1px solid black;
  padding: 15px;
  margin-top: 50px;
}

.admin_dash_header {
  font-size: 1.18em;
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 2px;
}