
.admin--dash {
  padding-top: $l-size;

}
.admin--menu {
  margin: 0;
  margin-top: 50px;
  width: 200px;
  height: 100%;
  overflow: auto;
}

.admin--menu a {
  display: block;
  color: black;
  padding: $s-size;
  text-decoration: none;
  text-align: left;
  border: 1px solid black;
}

.admin--menu a.active {
  background: #0F2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  color: white;
}

.admin--menu a:hover:not(.active) {
  background: #0F2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  color: white;
}

.admin--menu h1 {
  text-align: left;
  padding: 0 $s-size;
  text-decoration: underline;
}

.admin--dash--content {
  margin-left: 1%;
  padding: 15px 2px;
  height: 1000px;
}

.admin--title h1 {
  float: left;
}

.admin--add {
  float: right;
}
