

.login--form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

.login--inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: $s-size;
}

.input--form {
  font-size: 100%;
  margin-bottom: 15px;
}

.login--title {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.form--alert {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  letter-spacing: 1px;
}

.user-button {
  margin-top: 20px;
}