.home {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 95vh;
  justify-content: center;
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home--title {
  color: white;
  font-size: 9rem;
  border-radius: 3px;
  text-shadow: 0 0 20px black;
}

.home--button {
  font-size: 2rem;
  width: 15rem;
  border: none;
}

.home--login {
  text-align: center;
}


