.home {
  align-items: center;
  background: url('/images/homeImage.jpg');
  background-size: cover;
  display: flex;
  height: 95vh;
  justify-content: center;
  
}

.home--title {
  color: white;
  font-size: 9rem;
  border-radius: 3px;
  text-shadow: 0 0 20px black;
}

.home--button {
  font-size: 2rem;
  width: 15rem;
  border: none;
}

.home--login {
  text-align: center;
}

