.page {
    /*padding: 17px;*/
    /*margin: 30px;*/
}

.form_spacing {
    padding-top: 5px;
}

.input_width {
    width: 100%;
}

.input_text {
    text-align: right;
}

/* Give the border for the section */
.side_section {

}

/* Date Section */
.side_section_date {
    font-size: 1.3em;

    padding-top: 10px;
    /*padding-left: 20px;*/
}

.side_section_user_data {
    padding-top: 30px;
    /*padding-left: 20px;*/
}

.side_section_stats {
    padding-top: 50px;
    /*padding-left: 20px;*/
    padding-bottom: 50px;
}

.side_section_stats h2 {
    font-size: 1.2em;
}